$backgroundColor: #F3F5FC;
$primaryColor: #008080;
$primaryColorLight: #D7ECEC;
$textColor: #333333;
$linkTextColor: #489494;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$fontFamily: 'Poppins', sans-serif;
